<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <appSettings>
        <add key="cestaData" value=""/>
        <add key="casUlozBetonarka" value="22:00"/>

        <add key="vycitajBetonarka1" value="0"/>
        <add key="ipAdresaBetonarka1" value="192.168.1.205"/>
        <add key="portBetonarka1" value="502"/>
      
        <add key="vycitajBetonarka2" value="1"/>
        <add key="ipAdresaBetonarka2" value="192.168.1.201"/>
        <add key="portBetonarka2" value="502"/>
      
        <add key="vycitajPalety" value="0"/>
        <add key="ipAdresaPalety" value="192.168.1.205"/>
        <add key="portPalety" value="102"/>
    </appSettings>
</configuration>